*{
    margin: 0;
    padding: 0;
}
input:focus{
    outline: none;
}
.wrapper{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #648ef2;
    padding-top: 30px;
    box-sizing: border-box;
}
.info_title{
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    color: #fff;
    margin-bottom: 20px;
}
.info_btn{
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #fff;
    color: #648ef2;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.info_content{
    position: relative; /*脱离文档流*/
    top: 50%; /*偏移*/
    transform: translateY(-50%);
    height: 300px;
    margin:0 auto;
}
.info_logo{
    width: 100px;
    position: absolute;
    left: 50%;
    top:-80px;
    margin-left: -50px;
    background: url('../images/12306.png') no-repeat;
    background-size: cover;
    height: 115px;
}
.wechat_title{
    height: 77.5px;
    background:  #648ef2;
}
.wechat_title_content{
    width: 1028px;
    margin: 0 auto;
    height: 77.5px;
}
.wechat_title_content .wechat_title_logo{
    width: 50px;
    height: 57.5px;
    background: url('../images/12306.png') no-repeat;
    background-size: cover;
    float: left;
    margin-top: 10px;
}
.wechat_title_content .wechat_title_text{
    color: #fff;
    font-size: 24px;
    line-height: 77.5px;
    margin-left: 20px;
    float: left;
}
.wechat_wrapper{
    background: #f5f5f5;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: hidden;
}
.wechat_content{
    width: 1028px;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 77.5px;
}
.wechat_content .wechat_content_body{
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
}
.wechat_content_form_title{
    color: #5b5b5b;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-bottom: 5px;
    font-size: 16px;
    /*width: 100px;*/
}
.wechat_content_form{
    margin-bottom: 40px;
}
.wechat_content_form_body{
    box-sizing: border-box;
    padding-left: 20px;
}
.wechat_content_form_body .wechat_content_form_list{
    margin-bottom: 20px;
}
.wechat_content_form_body .wechat_content_form_list>.text_message{
    margin-left: 165px;
    font-size: 12px;
    margin-top: 5px;
    color: #a4a4a4;
}
.text_message_body{


}
.text_message_hover{
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background: #a4a4a4;
    color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}
.hover_img{
    width: 250px;
    border:1px solid #ccc;
    position: absolute;
    right: -250px;
    display: none;
    background: #fff;
}
.hover_img img{
    width: 100%;
}
.wechat_content_form_body .wechat_content_form_list>label{
    display: inline-block;
    width: 150px;
    line-height: 30px;
}
.wechat_content_form_body .wechat_content_form_list>input{
    width: 50%;
    line-height: 30px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 14px;
}
.wechat_content_form_body .wechat_content_form_list .wechat_content_form_image{
    display: inline-block;
    /*margin-bottom: 10px;*/
}
.wechat_content_form_body .wechat_content_form_list>label{
    margin-right: 10px;
    color: #5b5b5b;
    font-size: 14px;
}
.wechat_content_form_body .wechat_content_form_list>label:before{
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    line-height: 1;
    font-size: 12px;
    color: #F04134;
}
.wechat_content_form_body .wechat_content_form_list>.not_required:before{
    content: ' ';
    margin-left: 5px;
}
.submit_btn{
    margin: auto;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #648ef2;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.selectUpload{
    color: #648ef2;
    font-size: 14px;
    cursor: pointer;
}
.selectUpload:before{
    display: inline-block;
    margin-right: 4px;
    content: "+";
    font-family: SimSun;
    border: 1px solid #648ef2;
    color: #648ef2;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 16px;
    font-size: 20px;
}
.wechat_content_form_image_view{
    width: 70%;

}
.wechat_content_form_image_view img{
    max-width: 100%;
}
.clear{
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.clear_content{
    width: 400px;
    height: 300px;
    margin: 100px auto;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
.clear_content_text{
    text-align: center;
    /*line-height: 100px;*/
    font-size: 24px;
    box-sizing: border-box;
    padding-top: 50px;
}
.clear_content_bottom{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

}
.clear_content_bottom>div{
    float: right;
    margin-right: 20px;
    width: 100px;
    line-height: 40px;
    text-align: center;
    background: #648ef2;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.info_form{
    margin: 0 auto;
    width: 308px;
}
.info_form .info_form_list {
    margin-bottom: 20px;
}
.info_form .info_form_list label{
    color: #fff;
    margin-right: 5px;
}
.info_form .info_form_list input{
    line-height: 30px;
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
    width: 230px;
}
.submit_btn_message{
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    box-sizing: border-box;
    display: none;
}
